@model IEnumerable<MovieModel>



<div class="row" >
   
    
    
    <form method="post" action="/" class="arama" style="margin-top: -20px; margin-bottom:20px;">
        <input type="text" id="searchQuery" name="searchQuery" onkeyup="searchOnChange()" />
        <button type="submit" style="text-decoration:none; background-color: #C1937D; color: #000000">Ara</button>
    </form>
 

    
    <div class="col-md-10">
        @Html.Partial("_movies", Model)

    </div>
    <div class="col-md-2">
        @await Component.InvokeAsync("CategoryMenu")
    </div>


</div>






