<div class="footer py-3 mt-3" style="background-color:#C1937D !important">
    <div class="container row">

        <h3>İletişim Bilgileri</h3>

        <div class="col-md-9">

            <p>Adres: Kayseri-Melikgazi, Türkiye</p>
            <p>Telefon: +90 (552) 643 88 20</p>
            <p>E-posta: esel@gmail.com</p>
        </div>

        <div class="col-md-3">
            <a href="https://www.instagram.com">
                <img src="~/img/instagram.png" width="36px" />
            </a>
            <a href="https://www.twitter.com">
                <img src="~/img/twitter.png" width="36px" />
            </a>
            <a href="https://www.facebook.com/esma.oyanik.7">
                <img src="~/img/facebook.png" width="36px" />
            </a>
        </div>

    </div>
</div>
